
/* CSS Reset !! */
* { margin: 0; padding: 0; }


:root {
    --black: #21130d;
    --white: #fffefa;
    --orange: #fcba03;

    --font: monospace;

}

body {
background: var(--black);
color: var(--white);
}

.box {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.main-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top:0;
    width: 100%;
    border-bottom: 2px solid var(--orange)

}


/* Header Logo */
.brand-logo{

flex-grow:3;
display:flex;
justify-content: center;
align-items: center;
margin: 10px;


font-family: 'Jura' , sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 14px;


}

/* Header Navigation */
.header-nav {
flex-grow: 1;
display:flex;
justify-content: flex-end;
align-items: center;
margin: 10px;
}


/* Unordered List group */
.header-nav-ul-list {
    display:flex;
    list-style-type: none;
}

.header-nav-list-items {

padding:0 20px;
}

/* Nav bar menu items */
.hrefs{
color: var(--white);
text-decoration: none;
font-family: var(--font);
font-size: 1.5em;

}

/* About me section */
.about-me {
    display:flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

}

.about-me h1 {
    color: var(--white);
    font-family: var(--font);
    font-size:2em;
    padding: 10px 0;
}

.about-me p {
    color: var(--white);
    font-family: var(--font);
    font-size:1.5em;
    padding: 10px 0 20px 0;
}
/* All Buttons */
.button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 70px;
    border: none;
    color: var(--white);
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5rem 0;
    cursor: pointer;
    font-family: var(--font);
}

.button1 {
border: 2px solid var(--orange);
background-color: var(--black);
 
}

.button2 {
    background-color: var(--orange);
    font-weight: 800;
}

.fa {
    color: var(--orange);
    margin:20px 0;
    text-decoration: none;

}

.fa-github {
    padding-left:20px;
}

/* Image */
.portrait {
    max-width: 350px;
}


@media screen and (max-width:800px) {
    .main-header{

        flex-direction: column;
    }
    .header-nav {
        justify-content: center;
    }

    .about-me{
        
        flex-direction: column-reverse;
    }
}

@media (max-width:480px) {
    .hrefs {
        font-size: 1.2em;
    }

    .information {
        margin: 0 30px;
    }


    .portrait {
        max-width: 270px;
    }
}